:root {
  --blue: #3A65C7;
  --light-bg: #E8F2FF;
  --orange: #DF6F1A;
  --dark: #242328;
  --text-color: #5E6670;
  --white: #fff;
  --noto: "Noto Sans Bengali", sans-serif;
  --balooda: "Baloo Da 2", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Baloo Da 2", sans-serif;
}

p,
span,
small,
a {
  font-family: "Noto Sans Bengali", sans-serif;
  font-size: 16px;
}

.o-hidden {
  overflow: hidden;
}

.m-lf-10 {
  margin: 0 10px;
}

.section-title {
  padding: 20px;
  font-size: 30px;
  font-weight: 800;
  line-height: 35px;
  color: var(--dark);
  width: 500px;
  max-width: 100%;
  height: 75px;
  margin-bottom: 0;
}

/* Header start */
.main-header {
  padding-top: 10px;
  background-color: var(--white);
}

.header-items {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.header-left {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.header-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67%;
}

.header-middle nav {
  background-image: url('../../../../assets/images/img/nav-bg.png');
  padding: 21px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-nav .nav-item {
  padding: 4px 0;
}

.header-nav .nav-link {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
}

.header-nav .nav-link.active,
.header-nav .nav-link:hover {
  color: var(--orange);
}

.header-nav .nav-link.active svg path,
.header-nav .nav-link:hover svg path {
  stroke: var(--orange);
}

.header-middle .sub-menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: var(--white);
  width: 265px;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  z-index: 9999;
  padding: 20px 10px 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 6px 25px -5px rgb(58 101 199 / 10%);
  transition: all .3s ease-in-out;
}

.header-nav .nav-item:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  top: 40px;
}

.header-nav .sub-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-nav .sub-menu li a {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  line-height: 22px;
  transition: all .3s ease-in-out;
}

.header-nav .sub-menu li a.active,
.header-nav .sub-menu li a:hover {
  color: var(--orange);
}

.header-nav .mega-menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: var(--white);
  left: 0;
  right: 0;
  top: 110%;
  z-index: 9999;
  padding: 20px 10px 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 6px 25px -5px rgb(58 101 199 / 10%);
  transition: all .3s ease-in-out;
}

.header-nav .nav-item:hover .mega-menu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.mega-menu-items .mega-menu-card {
  transition: all .3s ease-in-out;
}

.mega-menu-items .mega-menu-card:hover {
  box-shadow: 0px 10px 25px 2px rgb(58 101 199 / 10%);
}

.mega-menu .category-card:hover h5 {
  color: var(--blue);
}

.mega-menu-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 20px;
}

.mega-menu-items .mega-menu-card {
  padding: 20px;
  border-radius: 12px;
  background: var(--white);
}

.mega-menu-items .mega-menu-card h5 {
  color: var(--dark);
  font-size: 18px;
  font-weight: 500;
}

.mega-menu-items .mega-menu-card img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.header-right {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: end;
}

/* Mobile Menu style  */
.header-mobile-menus {
  width: 280px;
  height: 100vh !important;
  background-color: var(--white);

  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  transition: right .4s ease-in-out;
  z-index: 999;
}

.mobile-wrapper {
  padding: 20px;
  position: relative;
}

.mobile-wrapper .header-action {
  position: absolute;
  bottom: 0;
}

.header-mobile-menus.show {
  right: 0;
}

.toggle {
  display: none;
  font-size: 22px;
  color: #242328;
  cursor: pointer;
}

.header-mobile-menus .close {
  padding: 5px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 4px;
  cursor: pointer;
}

.header-mobile-menus .header-nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;

}

.header-mobile-menus .header-nav .nav-item {
  position: relative;
}

.header-mobile-menus .sub-menu-items {
  height: 0;
  opacity: 0;
  display: none;
  flex-direction: column;
  gap: 8px;
  padding-left: 10px;
  padding-top: 10px;
  transition: opacity .5s ease;
  overflow: hidden;
}

.header-mobile-menus .header-nav .nav-item.active .sub-menu-items {
  height: auto;
  opacity: 1;
  display: flex;
}

.header-mobile-menus .header-nav .nav-item svg {
  transition: transform .3s ease-in-out;
}

.header-mobile-menus .header-nav .nav-item.active svg {
  transform: rotate(180deg);
}

.header-mobile-menus .sub-menu-items li {
  border-bottom: 1px solid #e8f2ff;
  padding-bottom: 10px;
}

.header-mobile-menus .sub-menu-items li a {
  font-size: 15px;
  font-weight: 500;
  color: var(--text-color);
}

/* Mobile Menu style  */


.header-section .navbar .header-nav-btns {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: end;
}

/* Header end */
/* Hero section start */
.hero-section {
  padding: 70px 0 35px 0;
  background-color: var(--light-bg);
  margin: 0 10px;
  border-radius: 20px;
}

.hero-content .hero-title {
  font-size: 55px;
  font-weight: 800;
  line-height: 80px;
  color: var(--dark);
}

.hero-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
  width: 100%;
  max-width: 600px;
}

.hero-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.hero-cards .hero-card {
  background-color: var(--white);
  padding: 20px;
  border-radius: 8px;
  transition: all .3s ease-in-out;
}

.hero-card .card-icon {
  background-color: var(--light-bg);
  padding: 8px 12px;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.hero-card .card-icon svg {
  height: 30px;
  width: 30px;
}

.hero-card h6 {
  font-size: 22px;
  color: var(--dark);
}

.hero-card span {
  font-size: 16px;
  color: var(--text-color);
}

.hero-card:hover {
  transform: translateY(-8px);
}

.hero-card:hover .card-icon {
  background-color: var(--blue);
}

.hero-card:hover .card-icon svg path {
  stroke: var(--white);
  transition: all .3s ease-in-out;
}

/* Hero section end */

/* Job section start */
.job-section {
  padding: 0px 0 50px 0;
  background-color: var(--white);
  overflow: hidden;
}

.job-title-middle {
  background-color: var(--light-bg);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.job-section-title h2 {
  font-size: 35px;
  font-weight: 800;
  line-height: 45px;
}

.job-section-btn {
  display: inline-flex;
  padding: 12px 24px;
  border-radius: 3px;
  border: 1px solid var(--light-bg);
  cursor: pointer;
}

.job-section-btn a {
  color: var(--blue);
  font-size: 16px;
  font-family: var(--noto);
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
}

.job-section-btn i {
  color: var(--blue);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.job-cards {
  padding-top: 50px;
}


.job-card {
  border-radius: 10px;
  border: 1px solid var(--light-bg);
  background: var(--white);
  padding: 15px 15px 20px;
  /* min-width: 360px; */
}

.job-card .card-top {
  padding: 15px;
  border-radius: 10px;
  background: var(--light-bg);
}

.job-card .date {
  padding: 8px 15px;
  background-color: var(--white);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  border-radius: 50px;
}

.job-card .bookmark svg {
  background-color: var(--white);
  padding: 10px;
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.job-card .job-title {
  color: var(--dark);
  font-size: 18px;
  font-weight: 700;
}

.job-card .company {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
}

.job-card .company-logo img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.job-info span {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.job-card .job-require-btns .rq-btn {
  display: flex;
  padding: 6px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 1px solid var(--dark);
  color: var(--dark);
}

.card-top>p {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark);
}

.card-bottom p {
  color: var(--dark);
  font-size: 16px;
  font-weight: 700;
}

.card-bottom span {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.dark-btn a {
  color: var(--white);
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 10px;
  background: var(--dark);
}

/* Job section end */
/* mcq section start */
.mcq-section {
  padding: 0 0 120px;
  margin: 0 10px;
  background-color: var(--light-bg);
  border-radius: 20px;
}

.mcq-section .section-top .s-middle {
  background-color: var(--white);
}

.mcq-section .s-middle::before {
  box-shadow: 6px -12px var(--white);
}

.mcq-section .s-middle::after {
  box-shadow: -3px -8px var(--white);
}

.mcq-section .job-section-btn {
  border: 1px solid var(--white);
}

.mcq-section .mcq-middle {
  background-color: var(--white);
}

.mcq-middle .nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
  border-radius: 10px;
}

.mcq-middle .nav-pills .nav-link.active,
.mcq-middle .nav-pills .show>.nav-link {
  border-radius: 10px;
  background: var(--blue) !important;
  box-shadow: 0px 5px 7px 0px rgba(58, 101, 199, 0.23);
  color: var(--white);
}

.mcq-middle .nav-pills .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.mcq-middle .nav-pills .nav-link {
  flex: 1;
  padding: 10px 15px;
  color: var(--dark);
}

.category-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 20px;
}

.category-cards .category-card {
  padding: 20px;
  border-radius: 12px;
  background: var(--white);
}

.category-cards .category-card h5 {
  color: var(--dark);
  font-size: 18px;
  font-weight: 500;
}

.category-cards .category-card img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

/* mcq section end */
/* Guidline section end */
.guidline-section {
  padding: 0 0px 120px 0;
  background-color: var(--white);
}


.guidline-section .section-title {
  background-color: var(--white);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top: -75px;
  display: inline-block;
  position: relative;
}

.guidline-section .section-title::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background: transparent;
  bottom: 0;
  right: 100%;
  border-bottom-right-radius: 20px;
  box-shadow: 10px 2px var(--white);
}

.guidline-section .section-title::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background: transparent;
  bottom: 0;
  left: 100%;
  border-bottom-left-radius: 20px;
  box-shadow: -2px 10px var(--white);
}

.guidline-card {
  padding: 20px 20px 30px;
  transition: all .3s ease-in-out;
}

.popular {
  background: var(--blue);
  color: var(--white);
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.833px;
  padding: 10px 15px 6px;
  line-height: 10px;
  text-transform: uppercase;
  border-radius: 50px;
}

.guidline-card .price {
  color: var(--dark);
  font-size: 45px;
  font-weight: 600;
  line-height: 46px;
}

.guidline-card .price span {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
}

.g-title {
  color: var(--dark);
  font-size: 35px;
  font-weight: 600;
  line-height: 42px;
}

.guidline-card p {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.g-info span {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
}

.g-btn {
  text-decoration: none;
  display: block;
  padding: 12px 20px;
  color: var(--blue);
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  background: var(--light-bg);
  margin-top: 25px;
}

.g-btn:hover {
  color: var(--blue);
}


.guidline-card:hover {
  border-radius: 10px;
  background: var(--blue);
  box-shadow: 0px 42px 34px 0px #f1f1f1;
  transform: translateY(-30px);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(58, 101, 199, 0.10) 0 42px 60px 0px, rgba(58, 101, 199, 0.10) 0px 7px 29px 0px;
}

.guidline-card.active {
  border-radius: 10px;
  background: var(--blue);
  box-shadow: 0px 42px 34px 0px #f1f1f1;
  transform: translateY(-30px);
  background-image: url('../../../../assets/images/img/premium.png') !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.guidline-card.active:hover {
  box-shadow: rgba(58, 101, 199, 0.10) 0 42px 60px 0px, rgba(58, 101, 199, 0.10) 0px 7px 29px 0px;
}

.guidline-card:hover .g-btn {
  background-color: var(--orange);
  color: var(--white);
}

.guidline-card.active .g-btn {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

.guidline-card.active:hover .g-btn {
  background-color: var(--orange);
  color: var(--white);
  border: 1px solid var(--orange);
}

.guidline-card.active .g-info span,
.guidline-card.active .price,
.guidline-card.active .price span,
.guidline-card.active .g-title,
.guidline-card.active p {
  color: var(--white);
}

.guidline-card.active svg path {
  fill: var(--white);
}

/* Guidline section end */
/* Features section start */
.features-section {
  margin: 0 10px;
  background-color: var(--light-bg);
  padding-bottom: 120px;
  border-radius: 20px;
}

.features-section .section-title {
  background-color: var(--light-bg);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top: -75px;
  display: inline-block;
  position: relative;
}

.features-section .section-title::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background: transparent;
  bottom: 0;
  right: 100%;
  border-bottom-right-radius: 20px;
  box-shadow: 10px 2px var(--light-bg);
}

.features-section .section-title::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background: transparent;
  bottom: 0;
  left: 100%;
  border-bottom-left-radius: 20px;
  box-shadow: -2px 10px var(--light-bg);
}

.feature-card {
  background-color: var(--white);
  padding: 30px;
  border-radius: 20px;
  transition: all .3s ease-in-out;
}

.feature-card:hover {
  background-color: var(--blue);
  transform: translateY(-10px);
  box-shadow: 0px 42px 34px 0px rgba(58, 101, 199, 0.20);
}

.feature-card h4 {
  color: var(--dark);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  transition: all .3s ease-in-out;
}

.feature-card p {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  transition: all .3s ease-in-out;
}

.feature-card:hover h4,
.feature-card:hover p {
  color: var(--white);
}

/* Features section end */
/* Advisor section start */
.advisor-section {
  padding: 0 0px 120px 0;
  background-color: var(--white);
}

.advisor-section .section-title {
  background-color: var(--white);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top: -75px;
  display: inline-block;
  position: relative;
}

.advisor-section .section-title::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background: transparent;
  bottom: 0;
  right: 100%;
  border-bottom-right-radius: 20px;
  box-shadow: 10px 2px var(--white);
}

.advisor-section .section-title::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background: transparent;
  bottom: 0;
  left: 100%;
  border-bottom-left-radius: 20px;
  box-shadow: -2px 10px var(--white);
}

.advisor-item img {
  border-radius: 10px;
}

.advisor-list {
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  animation: SlideRightToLeft 35s linear 0s infinite;
  -webkit-animation: SlideRightToLeft 35s linear 0s infinite;
}

.advisor-list:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

.advisor-list .advisor-item {
  border-radius: 10px;
  border: 1px solid var(--light-bg);
  background: var(--white);
  padding: 15px 15px 20px;
  min-width: 360px;
}

.advisor-item h5 {
  color: var(--dark);
  font-size: 17px;
  font-weight: 700;
}

.advisor-item span {
  font-size: 16px;
  color: var(--text-color);
}

/* Advisor section end */
/* Blog section start */
.new-blog-section {
  padding: 0 0 60px;
  background-color: var(--light-bg);
  margin: 0 10px;
  border-radius: 20px;
}

.new-blog-section .section-title {
  background-color: var(--light-bg);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top: -75px;
  display: inline-block;
  position: relative;
}

.new-blog-section .section-title::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background: transparent;
  bottom: 0;
  right: 100%;
  border-bottom-right-radius: 20px;
  box-shadow: 10px 2px var(--light-bg);
}

.new-blog-section .section-title::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background: transparent;
  bottom: 0;
  left: 100%;
  border-bottom-left-radius: 20px;
  box-shadow: -2px 10px var(--light-bg);
}

.blog-items {
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  animation: SlideRightToLeft 35s linear 0s infinite;
  -webkit-animation: SlideRightToLeft 35s linear 0s infinite;
}

.blog-items:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

.blog-card {
  border-radius: 10px;
  border: 1px solid var(--light-bg);
  background: var(--white);
  padding: 15px 15px 20px;
  min-width: 360px;
}

.blog-card .blog-title {
  color: var(--dark);
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  height: 45px;
  overflow: hidden;
}

.blog-card span {
  font-size: 16px;
  color: var(--text-color);
}

.blog-card img {
  border-radius: 10px;
  border: 5px solid var(--light-bg);
}
.blog-card .blog-desc {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Blog section end */

/* Section To start  */
.s-title {
  font-size: 30px;
  font-weight: 800;
  line-height: 35px;
  color: var(--dark);
  max-width: 100%;
}

.section-top .s-middle {
  width: 500px;
  max-width: 100%;
  background-color: var(--light-bg);
  padding: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 75px;
  position: relative;
}

.s-middle::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background: transparent;
  top: 0;
  right: 100%;
  border-top-right-radius: 20px;
  box-shadow: 6px -12px var(--light-bg);
}

.s-middle::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background: transparent;
  top: 0;
  left: 100%;
  border-top-left-radius: 20px;
  box-shadow: -3px -8px var(--light-bg);
}

.section-top .nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
  border-radius: 10px;
}

.section-top .nav-pills .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.section-top .nav-pills .nav-link.active,
.section-top .nav-pills .show>.nav-link {
  border-radius: 10px;
  background: var(--blue) !important;
  box-shadow: 0px 5px 7px 0px rgba(58, 101, 199, 0.23);
  color: var(--white);
}

.section-top .nav-pills .nav-link {
  width: 100%;
  padding: 10px 15px;
  color: var(--dark);
}

.section-top .section-both-side {
  margin-top: -55px;
}

/* Section To end  */

/* FAQS Section start  */
.faqs-section {
  padding: 0 0 50px;
}

.contact-form-area h5 {
  color: var(--dark);
  font-size: 22px;
  font-weight: 700;
}

.contact-form-area span {
  color: var(--text-color);
  font-size: 16px;
}

.faqs-section textarea {
  height: 70px;
}

.faqs-section .submit-btn {
  font-family: var(--noto);
}

.faqs-section .contact-form-area {
  box-shadow: 0px 6px 30px 5px rgb(58 101 199 / 10%);
}

.faqs-section .contact-form-area :is(input, textarea) {
  border: 1px solid var(--light-bg);
}

/* FAQS Section end  */
/* Animation name   */
@keyframes SlideRightToLeft {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Animation name   */

/* Footer section start  */
.copyright p {
  color: var(--white);
  font-weight: 400;
}

.copyright p a {
  color: var(--orange);
  font-weight: 700;
}

/* Footer section end  */

/* Auth Page style start  */
.auth-section {
  min-height: 100vh;
  background-image: url('../../../../assets/images/img/auth-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.auth-slides {
  overflow: hidden;
}

.auth-slide {
  position: relative;
}

.swiper-slide img {
  border-radius: 20px;
}

.swiper-slide .overlay {
  padding: 30px;
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(70, 95, 241, 0.37) 0%, #FE7000 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth-slides .overlay-top {
  padding-top: 75px;
}

.auth-slides .overlay-bottom {
  padding-bottom: 75px;
}

.auth-slides .overlay :is(h2, p) {
  color: var(--white);
}

.auth-slides .overlay h2 {
  font-size: 30px;
  font-weight: 700;
}

.auth-slides .overlay p {
  font-size: 16px;
  font-weight: 500;
}

.auth-slides .swiper-pagination {
  margin-top: 0px;
  position: absolute !important;
  bottom: 50px;
}

.auth-logo {
  width: 170px;
  height: auto;
}

.auth-tabs .nav {
  background-color: #ECF0FF;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.auth-tabs .nav-item .nav-link {
  padding: 10px;
  color: var(--text-color);
  font-family: var(--balooda);
  font-size: 16px;
  font-weight: 600;
}

.auth-tabs .nav-link.active {
  color: var(--white);
  background-color: var(--blue);
}

.auth-tab-content .form--label {
  font-size: 15px;
  color: var(--dark);
  font-family: var(--noto);
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}

.auth-tab-content .form--control {
  color: var(--text-color);
  border-radius: 8px;
  border: 1px solid rgba(70, 95, 241, 0.40);
  background: var(--white) !important;
  box-shadow: 0px 4px 8px 0px rgba(70, 95, 241, 0.10);
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
}

.auth-tab-content .form--control:focus {
  color: var(--text-color);
}

.auth-tab-content .form-label {
  font-family: var(--noto);
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 2px;
}

.auth-tab-content .form-label span {
  color: #E45270;
  font-size: 20px;
}

.auth-tab-content .forgot-pass a {
  color: #5E6670;
  font-family: var(--noto);
  font-size: 14px;
  font-weight: 400;
  text-decoration-line: underline;
}

.auth-tab-content .forgot-pass a:hover {
  color: var(--orange);
}

.auth-tab-content .submit-btn {
  padding: 10px 20px;
  color: var(--white);
  background-color: var(--blue);
  font-family: var(--balooda);
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 10px;
}

.auth-tab-content .pass-require span {
  font-size: 14px;
  color: var(--dark);
  font-weight: 400;
}

.auth-tab-content .social-auth a {
  border-radius: 8px;
  border: 1px solid rgba(70, 95, 241, 0.40);
  background: var(--white);
  padding: 10px 20px;
}

.auth-tab-content .or {
  height: 1px;
  width: 250px;
  max-width: 100%;
  background-color: rgba(156, 154, 165, 0.30);
  position: relative;
  margin: 25px auto;
}

.auth-tab-content .or span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 5px 3px;
  font-size: 16px;
  line-height: 15px;
  font-weight: 700;
  background-color: var(--orange);
  color: #000;
  text-transform: uppercase;
}

.auth-bottom p {
  font-size: 14px;
  color: var(--text-color);
}

/* Auth Page style end  */

/* job details page start */
.job-dt-title {
  font-size: 40px;
  font-weight: 700;
  color: var(--dark);
}
.job-share a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--text-color);
  padding: 12px 20px;
  border: 1px solid var(--light-bg);
  border-radius: 8px;
}
.company-dt span {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}
.company-dt img {
  height: 80px;
  width: 80px;
  object-fit: contain;
}
.job-rqs span {
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--light-bg);
}
.job-sidebar .widget-title {
  font-size: 24px;
  font-weight: 600;
}
.job-desc {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.job-desc h3 {
  font-size: 20px;
  font-weight: 600;
  padding: 5px 0;
}
.job-desc p {
  padding-bottom: 5px;
}
.job-details-page .job-card .job-require-btns .rq-btn {
  font-size: 14px;
  padding: 4px 10px;
}
/* job details page end */

/* Media Quaries  */
@media screen and (max-width: 1366px) {
  .header-action a {
    padding: 10px 18px;
    margin: 0px;
  }

  .mega-menu-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .category-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-middle {
    display: none;
  }

  .header-left,
  .header-right {
    width: 50%;
  }

  .main-header {
    padding: 0;
  }

  .header-items {
    padding: 15px 0;
  }

  .main-header .header-action {
    display: none;
  }

  .toggle {
    display: block;
  }

    .header-mobile-menus .header-action {
      display: flex;
      margin-left: 10px;
      margin-bottom: 0px;
      bottom: 32px;
    }
    .mobile-wrapper {
      height: 100vh;
    }
  .mobile-wrapper .header-action a {
    padding: 10px 25px;
    margin: 0px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    padding: 70px 0 35px 0;
  }

  .hero-content .hero-title {
    font-size: 30px;
    line-height: 48px;
  }

  .hero-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .hero-cards .hero-card {
    padding: 10px;
  }

  .hero-card .card-icon {
    padding: 6px 10px;
  }

  .section-top .s-middle {
    width: 300px;
  }

  .section-title {
    font-size: 25px;
    line-height: 30px;
    width: 300px;
  }

  .s-title {
    font-size: 25px;
    line-height: 30px;
  }

  .header-section .navbar .logo-area {
    width: auto;
  }

  .swiper-slide .overlay {
    padding: 30px;
  }

  .auth-slides .overlay h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 767px) {
  .category-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .guidline-card {
    margin-bottom: 10px;
  }

  .job-section .s-middle {
    display: none;
  }

  .job-section .section-top .section-both-side {
    margin-top: 0px;
    padding-top: 35px;
  }

  .mcq-section .section-top .s-middle {
    margin-top: 100px;
  }

  .job-cards {
    padding-top: 30px;
  }
  .blog-items,
  .advisor-list {
    animation: SlideRightToLeft 7s linear 0s infinite;
  }

  .mcq-section .section-top .section-both-side {
    margin-top: -150px;
    padding-bottom: 100px;
  }

  .mcq-section .s-middle::after,
  .mcq-section .s-middle::before {
    display: none;
  }

  .mcq-section .s-middle {
    border-radius: 20px;
  }

  .faqs-section .section-both-side {
    margin-top: -120px;
    padding-bottom: 55px;
  }

  .faqs-section .section-top .s-middle {
    margin-top: 70px;
    border-radius: 20px;
  }

  .faqs-section .s-middle::after,
  .faqs-section .s-middle::before {
    display: none;
  }

  .m-visible {
    display: block !important;
  }

  .m-hide {
    display: none;
  }

  .w-full {
    width: 100%;
  }

  .guidline-section {
    padding: 0px;
  }

  .advisor-section {
    padding: 0 0px 70px 0;
  }
    .job-rqs span {
      padding: 5px 6px;
    }
        .job-dt-title {
          font-size: 30px;
        }
}

@media screen and (max-width: 512px) {
  .features-section .section-title {
    margin-top: 0;
    padding-top: 35px;
  }

  .new-blog-section .section-title {
    margin-top: 0;
    padding-top: 35px;
  }

  .blog-items {
    padding-top: 30px;
  }
}

@media screen and (max-width: 375px) {
  .hero-content .hero-title {
    font-size: 28px;
    line-height: 45px;
  }
}